{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} F Blog {% endblock %}</h1>
    <p>- площадка для отправки контента в разные соц сети </p>
    {% for post in posts %}
        <div class="post-container" style="display: flex; align-items: center; border-radius: 10px; overflow: hidden; border: 0px solid #ddd; margin-bottom: 10px;">
            <div class="post-image" style="border-radius: 10px; overflow: hidden;">
                {% if post['image_path'] %}
                    <img src="{{ url_for('static', filename=post['image_path']) }}" alt="Image" style="max-width: 100px; border-radius: 10px;">
                {% else %}
                    <img src="{{ url_for('static', filename=default_image_path) }}" alt="Default Image" style="max-width: 100px; border-radius: 10px;">
                {% endif %}
            </div>
            <div class="post-content" style="margin-left: 10px;">
                <a href="{{ url_for('post', post_id=post['id']) }}">
                    <h2>{{ post['title'] }}</h2>
                </a>
                <span class="badge badge-primary">{{ post['created'] }}</span>
                <a href="{{ url_for('edit', id=post['id']) }}">
                    <span class="badge badge-warning">Редактировать</span>
                </a>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
