{% extends 'base.html' %}

{% block content %}
    <div class="page-container" style="max-width: 800px; margin: 0 auto;">
        <div class="post-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
                <span class="badge badge-primary">{{ post['created'] }}</span>
            </div>

            <div>
                <a href="{{ url_for('edit', id=post['id']) }}" class="btn btn-warning">Редактировать</a>
                
                <form method="POST" action="{{ url_for('delete', id=post['id']) }}" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены?')">Удалить</button>
                </form>
            </div>
        </div>

        <div class="post-image-container">
            <img src="{{ url_for('static', filename=post['image_path']) }}" alt="Image" style="max-width: 100%; max-height: 800px;">
        </div>

        <div class="post-content">
            <p>{{ post['content']|safe }}</p>
        </div>
    </div>
{% endblock %}
